*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(223, 227, 228, 0.93);
  font-family: "Poppins", sans-serif;
}

a.nav-link:hover{
  text-decoration: underline;
}

a.text-info:hover{
  color: white;
}

.modal-header{
  background-color: rgba(172, 171, 171, 0.77);
}

.gradient-y{
  background-image: linear-gradient(rgba(117, 220, 242, 0.49),rgba(97, 185, 194, 0.67));
}

.card-body{
  background-image: linear-gradient(rgba(171, 220, 228, 0.91),rgba(120, 206, 221, 0.83));
}
